{% if site.stackoverflow_user_name %}
<section>
  <h1>Stack Exchange</h1>
  <!--
  <a href="http://stackoverflow.com/users/{{site.stackoverflow_user_id}}/{{site.stackoverflow_user_name}}">
  <img src="http://stackoverflow.com/users/flair/{{site.stackoverflow_user_id}}.png" width="208" height="58" alt="profile for {{ site.stackoverflow_user_name }} at Stack Exchange, Q&amp;A for professional and enthusiast programmers" title="profile for {{ site.stackoverflow_user_name }} at Stack Exchange, Q&amp;A for professional and enthusiast programmers">
  </a>
  -->
  <a href="http://stackexchange.com/users/65485">
    <img src="http://stackexchange.com/users/flair/65485.png" width="208" height="58" alt="profile for organicveggie on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for organicveggie on Stack Exchange, a network of free, community-driven Q&amp;A sites">
  </a>
</section>
{% endif %}